:root {
    --primary-color: #373937;
}

.help{
    margin-top: 10px;
    background-color: rgba(55, 57, 55, 0.23);
    padding: 20px;
    border-radius: 5px;
    font-weight: normal;
}

h1{
    color: var(--primary-color);
    font-size: 30px;
}

.labels{
    color: var(--primary-color);
}

.add-btn{

}